[cache]
LINE_RECEIVER_INTERFACE = 127.0.0.1
PICKLE_RECEIVER_INTERFACE = 127.0.0.1
CACHE_QUERY_INTERFACE = 127.0.0.1
CARBON_METRIC_INTERVAL = 0

{% for cache_index in range(1, number_of_carbon_caches + 1) %}
[cache:{{ cache_index }}]
LINE_RECEIVER_PORT = 20{{ cache_index }}3
PICKLE_RECEIVER_PORT = 20{{ cache_index }}4
CACHE_QUERY_PORT = 70{{ cache_index }}2

{% endfor %}
[relay]
LINE_RECEIVER_INTERFACE = 0.0.0.0
LINE_RECEIVER_PORT = 2003
PICKLE_RECEIVER_INTERFACE = 0.0.0.0
PICKLE_RECEIVER_PORT = 2004
RELAY_METHOD = consistent-hashing 
DESTINATIONS = {{ range(1, number_of_carbon_caches + 1)|map('regex_replace', '(.*)', '127.0.0.1:20\g<1>4:\g<1>')|join(', ') }}
CARBON_METRIC_INTERVAL = 0
