[supervisord]
nodaemon = false

{% for cache_index in range(1, number_of_carbon_caches + 1) %}
[program:carbon-cache-{{ cache_index }}]
command = /opt/graphite/bin/carbon-cache.py --instance={{ cache_index }} --pidfile /var/run/carbon-cache-{{ cache_index }}.pid start
stdout_logfile = /var/log/supervisor/%(program_name)s.log
stderr_logfile = /var/log/supervisor/%(program_name)s.log
autorestart = true

{% endfor %}
[program:carbon-relay]
command = /opt/graphite/bin/carbon-relay.py --pidfile /var/run/carbon-relay.pid start
stdout_logfile = /var/log/supervisor/%(program_name)s.log
stderr_logfile = /var/log/supervisor/%(program_name)s.log
autorestart = true

[program:graphite-webapp]
directory = /opt/graphite/webapp
environment = PYTHONPATH='/opt/graphite/webapp'
command = /usr/bin/gunicorn -b127.0.0.1:8000 wsgi:application
stdout_logfile = /var/log/supervisor/%(program_name)s.log
stderr_logfile = /var/log/supervisor/%(program_name)s.log
autorestart = true
